<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
	<meta charset="utf-8">
	<title>خودپرداز فابانک</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/atm.css' %}">
</head>
<body>

	<div id="atm">
		<div class="top">
			<div class="screen"></div>
		</div>
		<div class="keys">
			<span class="button right">گزینه ۱</span>
			<span class="button left">گزینه ۲</span>
			<span class="button right">گزینه ۳</span>
			<span class="button left">گزینه ۴</span>
			<span>7</span>
			<span>8</span>
			<span>9</span>
			<span class="operator">تصحیح</span>
			<span>4</span>
			<span>5</span>
			<span>6</span>
			<span class="operator">انصراف</span>
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span class="eval">تایید</span>
			<span>0</span>
			<span>00</span>
			<span>000</span>

		</div>
	</div>

</body>
</html>