<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
	<meta charset="utf-8">
	<title>خودپرداز فابانک</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/atm.css' %}">
</head>
<body>

	<div id="atm">
		<div class="top">

			<div class="panel">
				<span id="left_1" class="button disable">گزینه ۱</span>
				<span id="left_2" class="button disable">گزینه ۲</span>
				<span id="left_3" class="button disable">گزینه ۳</span>
				<span id="left_4" class="button disable">گزینه ۴</span>
			</div>

			<div class="screen">
                <br>
                <p id="message">{{ msg }}</p>
                <br>
                <p id="context">لطفا شماره خودپرداز مورد نظر خود را وارد کنید.</p>
                <br>
                <br>
                <p id="context_input"></p>
            </div>

			<div class="panel">
				<span id="right_1" class="button disable">گزینه ۱</span>
				<span id="right_2" class="button disable">گزینه ۲</span>
				<span id="right_3" class="button disable">گزینه ۳</span>
				<span id="right_4" class="button disable">گزینه ۴</span>
			</div>

		</div>
		<div id="keys" class="keys">

			<span>7</span>
			<span>8</span>
			<span>9</span>
			<span class="operator">تصحیح</span>
			<span>4</span>
			<span>5</span>
			<span>6</span>
			<span class="operator">انصراف</span>
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span class="eval">تایید</span>
			<span>0</span>
			<span>00</span>
			<span>000</span>

		</div>
	</div>
    <script src="{% static 'js/ATM_Script.js' %}"></script>

    <form method="post" action="{% url 'ATMLogin' %}" id="form_temp">
        {% csrf_token %}
    </form>
</body>
</html>